.image {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .image {
        /* Adjust the styling for smaller screens */
        max-width: 100%;
        height: auto;
    }
    h1 {
        text-align: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .image {
        /* Adjust the styling for medium-sized screens */
        max-width: 80%;
        height: auto;
    }
    h1 {
        text-align: center;
    }
}

@media only screen and (min-width: 1025px) {
    .image {
        /* Default styling for larger screens */
        max-width: 70%;
        height: auto;
    }
    h1 {
        text-align: center;
    }
}
