* {
  padding: 0;
  
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgb(114, 217, 114), lightgreen);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: #1c5508b0;
  padding: 2.2vh;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

#geoLogo {
  position: absolute;
  left: 2%;
  top: -1.7%;
  width: 35%;
  height: 40%;
  z-index: 0;
}

main {
  padding: 2vw;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1vh;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -0.3vw 0.3vh 0.5vw rgba(0, 0, 0, 0.585);
  z-index: 1;
}

#imgDiv1 {
  display: inline-flex;
  margin-left: 4vw;

}

#img1 {
  width: 75vh;
  height: 25vw;
  box-shadow: 2px 2px 11px 4px #00840f;
  border-radius: 5px;
}

#img2 {
  width: 75vh;
  height: 25vw;
  box-shadow: 2px 2px 11px 4px #007784;
  border-radius: 5px;
  margin-left: 5vw;
}

#imgDiv3 {
  display: inline-flex;
  margin-left: 4vw;
}

#img3 {
  width: 75vh;
  height: 25vw;
  box-shadow: 2px 2px 11px 4px #7cb0b6;
  border-radius: 5px;
}

#img4 {
  width: 75vh;
  height: 25vw;
  box-shadow: 2px 2px 11px 4px #513b1b;
  border-radius: 5px;
  margin-left: 5vw;
}

ul {
  list-style: none;
  display: inline-flex;
}

ul li a {
  text-decoration: none;
  padding-right: 3vw;
  color: white;
}

.project, .website {
  background-color: #f0a211c6;
  box-shadow: 1vw 0.5vh rgba(1, 108, 16, 0.304);
  border: 0.1vw solid #cdf907;
  border-radius: 4.1vw;
  padding: 2vw;
  margin-bottom: 1vh;
}

.project a, .website a {
  display: flex;
  padding: 0.8vw 1.6vh;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5vw;
  width: 11vh;
  justify-content: center;
  margin-left: auto;
}

.project a:hover, .website a:hover {
  background-color: #555;
}

#footer {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1vw;
}

/* Iphone SE Responsive Design */

@media screen and (max-width: 550px) {

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }

  #geoLogo {
    position: absolute;
    left: 2%;
    top: -1.7%;
    width: 35%;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1vh;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -0.3vw 0.3vh 0.5vw lightgray;
  }
    
  #imgDiv1 {
    display: inline; 
    justify-content: center;
    width: 15vh;
    height: 10vw;
  }

  #img1 {
    width: 36vw;
    box-shadow: 2px 2px 11px 4px #00840f;
    border-radius: 5px;
    margin-left: 0vw;
    margin-right: -5vw;
  }

  #img2 {
    width: 36vw;
    box-shadow: 2px 2px 11px 4px #007784;
    border-radius: 5px;
    margin-left: 10vw;
  }

  #imgDiv3 {
    display: inline; 
    justify-content: center;
    width: 15vh;
    height: 10vw;
  }

  #img3 {
    width: 36vw;
    box-shadow: 2px 2px 11px 4px #00840f;
    border-radius: 5px;
    margin-left: 0vw;
    margin-right: -5vw;
  }

  #img4 {
    width: 36vw;
    box-shadow: 2px 2px 11px 4px #007784;
    border-radius: 5px;
    margin-left: 10vw;
  }
}

/* Ipad Mini Responsive Design */

@media screen and (min-width: 551px) and (max-width: 768px) {

  header {
    display: flex;
    justify-content: flex-end;
    background-color: #1c5508b0;
    padding: 2.2vh;
    text-align: center;
  }
  
  #geoLogo {
    position: absolute;
    left: 2%;
    top: -2.7%;
    width: 25%;
    z-index: 0;
  }
  
  main {
    padding: 2vw;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1vh;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -0.3vw 0.3vh 0.5vw rgba(0, 0, 0, 0.585);
    z-index: 1;
  }
  
  #imgDiv1 {
    display: inline-flex;
    margin-left: 3vw;
  }
  
  #img1 {
    width: 27vh;
    height: 22vw;
    box-shadow: 2px 2px 11px 4px #00840f;
    border-radius: 5px;
  }
  
  #img2 {
    width: 29vh;
    height: 22vw;
    box-shadow: 2px 2px 11px 4px #007784;
    border-radius: 5px;
    margin-left: 7vw;
  }
  
  #imgDiv3 {
    display: inline-flex;
    margin-left: 3vw;
  }
  
  #img3 {
    width: 29vh;
    height: 23vw;
    box-shadow: 2px 2px 11px 4px #00840f;
    border-radius: 5px;
  }
  
  #img4 {
    width: 29vh;
    height: 23vw;
    box-shadow: 2px 2px 11px 4px #007784;
    border-radius: 5px;
    margin-left: 4vw;
  }
}

/* Ipad Air Responsive Design */

@media screen and (min-width: 820px) and (max-width: 1024px) {

  header {
    display: flex;
    justify-content: flex-end;
    background-color: #1c5508b0;
    padding: 2.2vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
  }

  #geoLogo {
    position: absolute;
    left: 2%;
    top: -0.7%;
    width: 25%;
    z-index: 0;
  }

  main {
    padding: 2vw;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1vh;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -0.3vw 0.3vh 0.5vw rgba(0, 0, 0, 0.585);
    z-index: 1;
  }

  p {
    font-size: x-large;
  }

  #imgDiv1 {
    display: inline-flex;
    margin-left: 3vw;
  }
  
  #img1 {
    width: 29vh;
    height: 25vw;
    box-shadow: 2px 2px 11px 4px #00840f;
    border-radius: 5px;
  }
  
  #img2 {
    width: 29vh;
    height: 25vw;
    box-shadow: 2px 2px 11px 4px #007784;
    border-radius: 5px;
    margin-left: 3vw;
  }
  
  #imgDiv3 {
    display: inline-flex;
    margin-left: 3vw;
  }
  
  #img3 {
    width: 29vh;
    height: 25vw;
    box-shadow: 2px 2px 11px 4px #00840f;
    border-radius: 5px;
  }
  
  #img4 {
    width: 29vh;
    height: 25vw;
    box-shadow: 2px 2px 11px 4px #007784;
    border-radius: 5px;
    margin-left: 3vw;
  }
}

/* Ipad Pro Responsive Design */

@media screen and (min-width: 1024px) and (max-width: 1200px) {

  header {
    display: flex;
    justify-content: flex-end;
    background-color: #1c5508b0;
    padding: 2.2vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
  }

  #geoLogo {
    position: absolute;
    left: 2%;
    top: 0.5%;
    width: 25%;
    z-index: 0;
  }

  main {
    padding: 2vw;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1vh;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -0.3vw 0.3vh 0.5vw rgba(0, 0, 0, 0.585);
    z-index: 1;
  }

  p {
    font-size: xx-large;
  }

  #imgDiv1 {
    display: inline-flex;
    margin-left: 2vw;
  }
  
  #img1 {
    width: 31vh;
    height: 25vw;
    box-shadow: 2px 2px 11px 4px #00840f;
    border-radius: 5px;
  }
  
  #img2 {
    width: 31vh;
    height: 25vw;
    box-shadow: 2px 2px 11px 4px #007784;
    border-radius: 5px;
    margin-left: 5vw;
  }
  
  #imgDiv3 {
    display: inline-flex;
    margin-left: 2vw;
  }
  
  #img3 {
    width: 31vh;
    height: 25vw;
    box-shadow: 2px 2px 11px 4px #00840f;
    border-radius: 5px;
  }
  
  #img4 {
    width: 31vh;
    height: 25vw;
    box-shadow: 2px 2px 11px 4px #007784;
    border-radius: 5px;
    margin-left: 5vw;
  }
}




